[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "plugins/tmux-yank"]
	path = plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "plugins/tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
